body {
  font-family: Arial, sans-serif;
  background: #f4f7fa;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

h1 {
  text-align: center;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: bold;
}

.progress-container {
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: green;
}

.input-section {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input,
select,
button {
  padding: 10px;
}

input[type="text"] {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 15px;
  align-items: center;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}

.task-info {
  flex: 1;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.high {
  color: red;
  font-weight: bold;
}

.medium {
  color: orange;
  font-weight: bold;
}

.low {
  color: green;
  font-weight: bold;
}

button {
  cursor: pointer;
}
.completed-text {
  text-decoration: line-through;
  opacity: 0.7;
}